*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
   background: #6f84c9;
background: linear-gradient(160deg, rgba(111, 132, 201, 1) 18%, rgba(66, 70, 194, 1) 31%, rgba(81, 81, 176, 1) 45%, rgba(150, 152, 255, 1) 62%, rgba(0, 212, 255, 1) 84%, rgba(0, 0, 0, 1) 100%);
}
h1{
    text-shadow: 5px 5px 20px rgb(12, 12, 12);
    font-size: 50px;
    color: yellow;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}
h2{
    color: rgb(235, 203, 203);
    font-size: 30px;
}
.game-link{
    width:300px;
    height: 300px;
}
img{
    border-radius: 15px;
    width: 300px;
    height: 300px;
    box-shadow: -1px -1px 20px 5px rgb(10, 10, 64);
    border: 10px solid slategrey ;
}
img:hover{
    scale: 110%;
}
#main-div{
    margin-top: 150px;
    width: 60%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
}
@media (max-width:400px){
    #main-div{
        margin-top: 30px;
        width: 300px;
        height: 500px;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
       
    }
    .game-link{
    width:150px;
    height: 150px;
    }
    img{
        width: 150px;
        height: 150px;
    }
}