*{
    margin: 0%;
    padding: 0%;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    background-color: #697565;
}
#back-btn{
    padding: 3px;
    background-color: rgb(151, 230, 233);
    position: fixed;
    top: 0%;
    left: 0%;
}
h1{
    font-family: cursive; 
    color: #21292c;
    box-shadow: 0.5px 0.5px 40px 20px rgb(13, 23, 30);
     border-radius: 5px;
     padding: 10px;
}
#play-icons{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    
}
img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit:cover;
    box-sizing: border-box;
    box-shadow: 1px 1px 20px 10px black;
}
img:hover{
    border: 10px solid black;
}

#scores{
    border: 1px solid black;
    border-radius: 10px;
    background-color: #859380;
    box-shadow: 1px 1px  20px 10px black;
    padding: 20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
}
p,h5{
    font-size: 30px;
}
.show-scores{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#win-status{
    background-color: #1B2430;
    color: #9faf9a;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 1px 1px  10px 10px black;

}
#btn {
    width:100px;
    height: 30px;
    padding:3px;
    background-color: #000000;
    color: #9faf9a;
    font-size: 20px;
    border-radius: 5px;

}
@media (max-width:400px)
{
    h1{
        font-size: 15px;
    }
    #play-icons{
        width: 100vw;
    }
    img{
        width: 80px;
        height: 80px;
    }
    #win-status{
        font-size: 20px;
    }
    #scores{
        width: 60vw;

    }
    .show-scores p,h5{
        font-size: 20px;
    }
}