*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color: #C8AAAA;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#back-btn{
    padding: 3px;
    background-color: rgb(151, 230, 233);
    position: fixed;
    top: 0%;
    left: 0%;
}
h1{
    font-size: 70px;
    color: rgb(97, 44, 97);
}
#name{
    width:70vw;
    margin-top: 50px;
   visibility:hidden;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
#win{
    font-size: 50px;
    color: rgb(150, 25, 25);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#btns{
    margin-top: 142px;
    display: flex;
    flex-wrap: wrap;
    width: 312px;
}
.box{
    margin: 1px;
    width: 100px;
    height: 100px;
    background-color: #FFDAB3;
    border: 0.4px solid rgb(74, 71, 71);
    box-shadow: 1px 1px 10px 0.2px black;
    font-size: 40px;
    color: black;
}
#reset{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: cadetblue;
}
#New{
    font-size: 20px;
    margin-top: 20px;
    padding: 5px;
    border-radius: 5px;
    background-color: cadetblue;
    width: 150px;
}
@media (max-width:400px){
h1{
        margin-top: 10px;
        font-size: 30px;
    }
    #btns{
        width: 280px;
    }
    .box{
        width: 90px;
        height: 90px;
    }
    #win{
        font-size: 20px;
    }
}